.contacts {
  display: flex;
  padding-top: 63px;
  gap: 12px;
  img {
    width: 40px;
    height: 40px;
  }
}

.contacts__info__phone {
  margin: 0;
  color: #000000;
  font-family: "Alegreya-Black", Helvetica;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: normal;
  margin-top: -1px;
}

.contacts__info__time {
  margin: 0;
  color: #838a99;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  left: 0;
  letter-spacing: 0px;
  line-height: 18px;
}
