.language {
  margin-top: 60px;
  width: 48px;
  height: 48px;
  background-color: #eff0f1;
  border-radius: 24px;
  color: #000000;
  font-family: "Alegreya-Black", Helvetica;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: normal;
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center; 
}