.navigate {
  display: flex;
  padding-top: 76px;
  gap: 60px;
  p:hover {
	color: #e52d2d;
  }
}

.navigate__menu {
  color: #000000;
  font-family: "Alegreya-Black", Helvetica;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: normal;
  margin-top: -1px;
}
.navigate__about {
	color: #000000;
  font-family: "Alegreya-Black", Helvetica;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: normal;
  margin-top: -1px;
}
.navigate__contacts {
  color: #000000;
  font-family: "Alegreya-Black", Helvetica;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: normal;
  margin-top: -1px;
}
